.container-fluid
  .row
    .col-md-12.col-sm-12.col-xs-12
      .logo
        %a{href: "#"}
  .row
    .col-md-offset-3
      .gradient-black-bg
        .row
          #mybook
            - @images.each_with_index do |image, indx|
              .col-md-12.col-sm-12.col-xs-12.page
                - if image[:height] > image[:width]
                  %div{class: "#{indx.even? ? "white-bg" : "gradient-black-bg-1"}"}
                    %p{class: "#{indx.odd? ? "white" : ""}"}
                      %strong #{image[:title]}
                      #{Date.today}
                    .row
                      .vertical-comments.col-md-6.col-sm-6.col-xs-12
                        - [{text: 'a sleek, intuitive, and powerful mobile first front-end framework'}, {text: 'a sleek, intuitive, and powerful mobile first front-end framework'}].each do |comment|
                          %hr/
                          %small.checkbox.grey-color
                            %label
                              %input{:type => "checkbox"}>/
                              #{comment[:text]}
                      .col-md-6.col-sm-6.col-xs-12
                        = image_tag image[:url], class: 'img-responsive center-block', style: 'max-height: 288px; width: auto;'
                - else #if image.width > image.height
                  %div{class: "#{indx.even? ? "white-bg" : "gradient-black-bg-1"}", style: 'max-height: 366px; max-width: 100%;'}
                    %p{class: "#{indx.odd? ? "white" : ""}"}
                      %strong #{image[:title]}
                      \/ #{Date.today}
                    = image_tag image[:url], class: 'img-responsive center-block', style: 'max-height: 242px; width: auto;'
                    .row.horizontal-comments
                      - [{text: 'a sleek, intuitive, and powerful mobile first front-end framework'}, {text: 'a sleek, intuitive, and powerful mobile first front-end framework'}].each do |comment|
                        .image-comments.col-md-6.col-sm-6.col-xs-12
                          %hr/
                          %small.checkbox.grey-color
                            %label
                              %input{:type => "checkbox"}>/
                              #{comment[:text]}
                .gap
